.profile {
	display: flex;
	justify-content: center;
}

.profile__form {
	width: 100%;
	max-width: 410px;
	padding: 0 30px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile__title {
	margin: 0;
	font-family: Inter, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.2;
	text-align: center;
	color: #000;
}

.profile__inputs {
	padding: 0;
	margin: 120px 0 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile__inputs-item {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
}

.profile__inputs-item:last-child {
	border-bottom: none;
}

.profile__label {
	position: absolute;
	z-index: 2;
	margin: 20px 0 0;
	font-family: Inter, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	line-height: 1.18;
	color: #000;
}

.profile__input {
	padding: 16px 0 16px 55px;
	width: 100%;
	border: none;
	outline: none;
}

.profile__input::placeholder {
	font-family: Inter, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 1.18;
	text-align: right;
	color: #000;

}

.profile__links {
	margin-top: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.profile__link {
	font-family: Inter, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.23;
	color: #000;
	text-decoration: none;
}

.profile__submit-btn {
	font-family: Inter, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.23;
	color: #000;
	text-decoration: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.profile__submit-btn_disabled {
	opacity: .1;
}

.profile__link_color_red {
	font-weight: 500;
	color: #ff4062;
}

@media screen and (max-width: 767px) {
	.profile__inputs {
		margin: 80px 0 0;
	}
}
